<h1><%= title %></h1>

<ol>
    <% computers.forEach((computer)=> { %>
    <li>)
        <%= computer %>
        &emsp;&emsp;
        <img src="<%=computer%>.png" width="150px">
    </li><br><br>
    <% }); %>
</ol>

<!--
<table border=0>
    <% computers.map((computer) => { %>
    <tr>
        <td>
            <li><%= computer %></li>
        </td>
        <td><img src="<%=computer%>.png" width="150px"> </td>
    </tr>
    <% }); %>

</table>
-->

